@charset "utf-8";
/* Tiny Screen size adjustments, smaller than the orginal iPhone. Will probably look like shit anyway, but added another row for the menu */

body {
	background-image: none;
	font-size: 16px;
}

.header {
	font-size: 0.6em;
	height: 210px;
}

.header_map {
	background-image: none;
	width: 1px;
	max-width: 0;
	min-width: 0;
}

.header_DEIG {
	width: 100%;
}

.header_hotline {
	width: 100%;
}

.ddsmoothmenu {
	font-size: 15px;
	height: 172px;
	background-repeat: repeat;
}

.ddsmoothmenu ul li{
	padding-top: 5px;
}
.ddsmoothmenu ul li ul li a{
	font: bold 15px Verdana;
}

.aa_logo {background: url(../_images/AA_logo_small.png) no-repeat 0px 0px;}

.footer {
	font-size: 0.7em;
	height: 240px;
}
